body {
    margin: 0px;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: large;
    font-style: italic;
    text-align: center;
}

#contanier {
    border: 9px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p {
    font-size: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}